body {
    background-color: #191919;
    color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
}

#btnDiv {
    display: flex;
    justify-content: flex-end;
}

button {
    color: inherit;
    font-size: large;
    background: transparent;
    padding: 8px;
    border: 2px solid gray;
    border-radius: 15px;
}

button:hover {
    color: #191919 ;
    background-color: gray;
    border-color: #191919 ;
}


#addProjWin {
  display: none;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  overflow: auto;
  background-color: #191919;
  border: 2px solid gray;
  border-radius: 15px;
  text-align: center;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#checklistDiv {
    display: flex;
    justify-content: space-between;
}

.modalTag {
    font-family: inherit;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.modalInput{
    width: 250px;
    margin: auto;
    margin-bottom: 5px;
}

#projectChecklist{
    margin: 10px 5px 5px 25px ;
    align-self: center;
}

#winTitle {
    font-size: 30px;
    margin-bottom: 10px;
    margin:auto;
}

.close {
    font-size: 25px;
    margin-right: 10px;
}

.close:hover {
    opacity: 60%;
}

#add {
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: gray ;
    color: #191919;
    border-color: gray;
}

#add:hover {
    background-color: #191919 ;
    color: gray;
    border-color: gray;
}

#closeDiv {
    display: flex;
    flex-direction: row-reverse;
    height: 25px;
}

.projCard {
    color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 5px;
    margin-top: 15px;
    padding-left: 15px;
    background-color: #262626; 
}

.projTitle {
    font-size: 25px;
}

.delete {
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 0;
}

.delete:hover {
    opacity: 60%;
}

.projDescr {
    margin-top: 10px;
    font-size: 12px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    margin: 20px 15px 10px 0;
}

.projBtn {
    font-size: 15px;
    color: darkgray;
    margin: 0 2px 0 2px;
    flex-grow: 1;
}

.projectHeader {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;

}