body {
    background-color: #191919;
    color: lightgrey;
}

#content {
    display: flex;
    justify-content: flex-end;
}

button {
    color: inherit;
    font-size: large;
    background: transparent;
    padding: 8px;
    border: 2px solid gray;
    border-radius: 15px;
}

button:hover {
    color: #191919 ;
    background-color: gray;
    border-color: #191919 ;
}